body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;

}

h2{
    font-family: 'PT Sans', sans-serif;
    color: #ffffff;
    margin: auto;
}

.red-line{
    background: #eb5346;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-border{
    border-left: 2px solid;
}

li{

}

.menu li{

}

.parts-ul ul{
    border: 0;
}

.container{
    width:90%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.class-name{
    display: block;
    width: 150px;
    height: 20px;
    background-color: #252e39;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.calculate{
    display: block;
    width: 200px;
    height: 20px;
    background-color: #eb5346;
    color: #ffffff;
    text-align: center;
    margin: auto;
    text-decoration: none;
    user-select: none;
    outline: none;
}

.calculate p{
    margin: 0;
}

#car-image{
    background-image: url("images/мазда/стандарт++.jpg");
    background-repeat: no-repeat;
    float: left;
    width: 660px;
    height: 350px;
    transition: 0.3s linear;
}

svg{
    display: flex;
    margin: auto;
    padding-top: 7px;
}

#svg1{
    display:none;
}

#svg3{
    display:none;
}

#classes{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#classes img{
    width: 100%;
    height: auto;
}

.element-menu a{
    display: block;
    text-decoration: none;
    transition: .3s linear;
    padding: 5px 5px 5px 30px;
}

.element-menu a:hover{
    background-color: #eb5346;
    color: #ffffff;
}

.menu{
    width: 200px;
    padding: 15px;
    float: right;
}

#menu1{
    display:none;
}

#menu3{
    display:none;
}

.show{
    background: #eb5346;
    color: #ffffff;
}

.hide{
    background: #ffffff;
    color: #343c46;
}

#navlist{
    margin-top: 350px;
    position: relative;
    height: 54px;
}

#navlist li {
    padding: 0;
    list-style: none;
    top: 0;
}

#navlist-text{

}

.icon-block{
    height: 54px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    display: inline-block;
    margin-right: 30px;
}

.icon-block p{
    font-size: 14px;
    text-align: center;
    color: #eb5346;
    -webkit-margin-before: 0;
    margin-top: 0;
}

.bonnet-full{
    background: url(images/иконки-модуля.png) 0 -50px;
    left: 0;
    height: 52px;
    width: 70px;
    transition: .3s linear;
}

.bonnet-part{
    background: url(images/иконки-модуля.png) -75px -50px;
    left: 0;
    height: 54px;
    width: 70px;
    transition: .3s linear;
}

.internal-thresholds{
    background: url(images/иконки-модуля-2.png) -222px -30px;
    background-size: 300px 61px;
    left: 0;
    height: 34px;
    width: 70px;
    transition: .3s linear;
}

.wings-full{
    background: url(images/иконки-модуля-3.png) -435px 0;
    left: 0;
    height: 40px;
    width: 100px;
    transition: .3s linear;
}

.wings-part{
    background: url(images/иконки-модуля-3.png) -345px 0;
    left: 0;
    height: 40px;
    width: 100px;
    transition: .3s linear;
}

.butt-end-door{
    background: url(images/иконки-модуля-4.png) -210px -35px;
    left: 0;
    height: 48px;
    width: 70px;
    transition: .3s linear;
}

#home {
    left: 0;
    width: 46px;
    background: url('img_navsprites.gif') 0 0;
}

#prev {
    left: 63px;
    width: 43px;
    background: url('img_navsprites.gif') -47px 0;
}

#next {
    left: 129px;
    width: 43px;
    background: url('img_navsprites.gif') -91px 0;
}

#price-block{
    width: 300px;
    margin-top: 50px;
}

#price {
    border-top: 2px solid;
}

#recall {
    width: 200px;
    height: 40px;
    background-color: #252e39;
    color: #ffffff;
    text-align: center;
    float: right;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partialPlans{
    background-color: #252e39;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 100px 5px 30px;
}

.partialPlans:hover{
    background-color: #252e39;
    color: #ffffff;
}

.st{
    background-color: #252e39;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.parts-ul, #go1 {
    display:none;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 15px;
}

#go1:checked ~ .parts-ul {
    display:block;
}

.parts-ul, #go2 {
    display:none;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 15px;
}

#go2:checked ~ .parts-ul {
    display:block;
}

.element-opener{
    margin-top: 5px;
}

.element-menu{
    height: 31px;
}

.line{
    border-width: 0 0 0 1px;
    border-style: solid;
}

.hide-parts{
    display: none;
}

.show-parts{
    display: block;
}
